body {
  font-family: "Hammersmith One", sans-serif;
  font-family: "Poppins", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  }
.nav h3{margin-top: 80px;
        margin-left: 80px;}
ul {
  list-style-type: none;
}
.nav li {
  display: inline-block;
  margin-top:80px;
  margin-right: 80PX;
}
.nav li a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(51, 49, 49);
  font-weight: bold;}
.container{display: grid;
           grid-template-columns: repeat(2, 1fr);
           gap: 250px;
           margin-top:80px;
           margin-left:80px;
           margin-right:80px;
           }
.img-influencer {
  width: 440px;
  height: 414px;
  left: 835px;
  top: 211px;}
.heading-style{font-size: 50px;
               color:rgb(51, 49, 49);}
p{color:rgb(51, 49, 49);
  font-weight: bold;}
.click-button{font-size:24px;
              font-weight: bold;
              text-align: center;
        color:rgb(233, 220, 220);
        background-color: rgb(236, 70, 10);
        padding-left:10px;
        padding-right: 20px;
        padding-top:5px;
        padding-bottom: 5px;
        border:none;
        border-radius: 4px;}
.fa-caret-right{font-size: 24px;
                color:rgb(231, 216, 216);
                margin-left:10px;
                margin-top:5px;}