body {
  font-family: "Hammersmith One", sans-serif;
  font-family: "Poppins", sans-serif;
}
.header h1{font-size: 16px;
           font-weight: bold;}

.nav {
  display: flex;
  justify-content: space-between;}
ul{list-style-type: none;}
.nav li{display: inline-block;
        padding-left: 24px;}
.nav li a{text-decoration: none;
          font-size: 16px;
          color:black;}
.container{display: grid;
           grid-template-columns: repeat(2, 1fr);
           }
.img-influencer{width:300px;}
