body {
  font-family: "Hammersmith One", sans-serif;
  font-family: "Poppins", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav h3 {
  margin-top: 80px;
  margin-left: 100px;
}
ul {
  list-style-type: none;
}
.nav li {
  display: inline-block;
  margin-top: 80px;
  margin-right: 100px;
}
.nav li a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(51, 49, 49);
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 400px;
  margin:80px 100px 80px 100px;
}
.img-influencer {
  width: 500px;
  height: 500px;
  background-image: url(/all-image/background.png);
  background-size: 100%;
}
.heading-style {
  font-size: 50px;
  color: rgb(51, 49, 49);
}
p {
  color: rgb(51, 49, 49);
  font-weight: bold;
}
.click-button {
  background-color: rgb(236, 70, 10);
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 4px;
}
.fa-caret-right {
  font-size: 24px;
  color: rgb(231, 216, 216);
  margin-left: 10px;
  margin-top: 5px;
}
.click-button a {
  text-decoration: none;
  color: rgb(231, 216, 216);
  font-size: 24px;
  font-weight: bold;
}
hr {
  background: linear-gradient(to right, white, lightgray, white);
  height: 4px;
  margin: 30px 150px;
}
.product-heading > h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: rgb(51, 49, 49);
}
.logo {
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-right: 150px;
}
span {
  margin-left: 15px;
  color: rgb(51, 49, 49);
}
.fa-star.gold {
  color: gold;
}
.fa-star-half-alt.half-gold {
  color: gold;
}
.awesome-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
  width:400px; 
  margin:auto;
}
.product-review {
  background-color: white;
  padding: 10px;
  width:300px;
 }
.container-product{background-color: rgba(241, 235, 235, 0.432);
                   padding:10px;
                   border-radius:5px;
                   margin-left:220px;
                   margin-right:220px;
                   box-shadow: 0 0 5px 5px rgba(21, 52, 226, 0.144);
                   }
.line-style{float: right;
            margin-right: 220px;
            margin-top: 50px;
            }

.fa-arrow-right{padding-left:10px;}
.link-style{text-decoration:none;
  color:rgb(236, 70, 10);
  font-size:18px;
  font-weight: bold;
  line-height: 24px;}
.future-product{display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap:40px;
                margin:150px;}
.group-product{width:310px;
               background-color:rgba(241, 235, 235, 0.432);
               padding:10px;
               box-shadow: 0 0 5px 5px rgba(21, 52, 226, 0.144);
              }
.product-information{font-size:16px;
                     }
.footer-style{color:rgb(51, 49, 49);
              text-align:center;
              line-height: 5px;
              vertical-align: middle;}
footer{ background-color: #aaaaaa5b;
        padding:10px;}
             
.social-icon{display:flex;
             justify-content: center;}

.social-icon-style{
                   font-size:30px;
                   color:rgba(0, 3, 17, 0.637);}
