body {
  font-family: "Hammersmith One", sans-serif;
  font-family: "Poppins", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  }
.nav h3{margin-top: 50px;
        margin-left: 100px;}
ul {
  list-style-type: none;
}
.nav li {
  display: inline-block;
  margin-top:50px;
  margin-right: 100PX;
}
.nav li a {
  text-decoration: none;
  font-size: 16px;
  color: black;}
.container{display: grid;
           grid-template-columns: repeat(2, 1fr);
           gap: 250px;
           margin-top:50px;
           margin-left:100px;
           margin-right:100px;
           }
.img-influencer {
  width: 440px;
  height: 414px;
  left: 835px;
  top: 211px;}
.heading-style{font-size: 50px;
               color:rgb(51, 49, 49);}
p{color:rgb(51, 49, 49);
  font-weight: bold;}
