body{font-family: 'Hammersmith One', sans-serif;
    font-family: 'Poppins', sans-serif;}
nav>ul{display: flex;
       justify-content: right;
       list-style-type: none;
       }
nav ul li{padding-right: 24px;}
nav ul li a{text-decoration: none;
            color:black;
            font-size:16px;}