body {
  font-family: "Hammersmith One", sans-serif;
  font-family: "Poppins", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav h3 {
  margin-top: 80px;
  margin-left: 100px;
}
ul {
  list-style-type: none;
}
.nav li {
  display: inline-block;
  margin-top: 80px;
  margin-right: 80px;
}
.nav li a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(51, 49, 49);
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 400px;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
}
.img-influencer {
  width: 450px;
  height: 400px;
  left: 835px;
  top: 211px;
}

.background {
  width: 350px;
  height: 350px;
  right: 200px;
  top: 250px;
  animation: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: fixed;
  z-index: -1;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading-style {
  font-size: 50px;
  color: rgb(51, 49, 49);
}
p {
  color: rgb(51, 49, 49);
  font-weight: bold;
}
.click-button {
  background-color: rgb(236, 70, 10);
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 4px;
}
.fa-caret-right {
  font-size: 24px;
  color: rgb(231, 216, 216);
  margin-left: 10px;
  margin-top: 5px;
}
.click-button a {
  text-decoration: none;
  color: rgb(231, 216, 216);
  font-size: 24px;
  font-weight: bold;
}
